<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>product list</h1>
<table>
    <tr>
        <th>상품아이디</th>
        <th>상품명</th>
        <th>상품가격</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.sequence}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
</table>
<ul>
    <li th:each="product : ${products}" th:text="${product.name}+ ' - $'+${product.price}"></li>
</ul>

<div th:include="common/footer :: footer">
</div>
</body>
</html>